html { height: 100%; }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	height: calc(100% - 85px);
}

h1 {
    text-align: center;
	margin: 20px 0 0;
}

.chart {
    width: 80%;
    margin: 0 auto;
    display: flex;
	height: 100%;
	flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.bar {
    width: 100%;
    background: #3498db;
    border: 1px solid #ffffff;
	position: relative;
	padding-top: 10px;
    text-align: center;
	font-size: 15px;
    color: #fff;
}

.bar-quantity {
	color: #222222;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}
